body {
	font-size: 13px;
	font-family: text;
  background: white;
  color: black;
}

h1 {
  color: darkblue;
}

h2 {
  color: whitesmoke;
  background: black;
  padding: 5px;
}

.formula {
  align: center;
  font-weight: bold;
  font-style: italic;
}